/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */

body{
    background-color: #F6F8F9;
}

/* header */
header{
    background-color: #fff;
    padding: 10px 20px;
}
#logo{ 
    height: 100%;
    vertical-align: middle;
}
h1{
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
}

/* main */


.frame{
    background-color: #fff;
    width: 75%;
    margin: 20px auto;
    padding: 20px;
}
.buttons{
    border: 1 solid #47ADF1;
    border-radius: 5px;
    padding: 5px;
}
#task-btn{
    background-color: #47ADF1;
    color: #fff;
}
#section-btn{
    color: #F6F8F9;
}

.task-sect{
    padding: 20px;
    line-height: 30x;
}
