/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */

body{
    background-color: #F6F8F9;
    font-family: Arial, sans-serif;
}

/* header */
header{
    background-color: #fff;
    padding: 10px 20px;
}
#logo{ 
    height: 100%;
    vertical-align: middle;
}
h1{
    
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
}
ul{
    list-style-type: none;
}

/* main */


.frame{
    background-color: #fff;
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.buttons-frame{
    border-bottom: 2px solid #F6F8F9;
    width: 100%;
}
.buttons{
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.blue{
    background-color: #47ADF1;
    color: #fff;
    border: 1px solid #47ADF1;
}

.light-gray{
    color: #afb0b1;
    background-color: #fff;
    border: 1px solid #afb0b1;
}

.task-sect{
    padding: 20px;
    line-height: 30x;
    height: 100%;
}

/* list */
li{
    padding: 5px;
}
.checked{
    border-radius: 50%;
    border: 1px solid green;
    color: green;
    margin: 5px;
    padding: 1px;
}
.crossed{
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    margin: 5px;
    padding:1px;
}
.label{
    font-size: 8px;
    color: #fff;
    border-radius: 25px;
    padding: 5px;
}
.editorial{
    background-color: #47ADF1;
}
.q-goal{
    background-color: #9C72E4;
}
.mobile{
    background-color: #F29E33;
}
.website{
    background-color: #D863A1;
}
.sales{
    background-color: #B0C926;
}
.recruiting{
    background-color: #65C0A9;
}

}

