/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */

body{
    background-color: #F6F8F9;
}

/* header */
header{
    background-color: #fff;
    padding: 10px 20px;
}
#logo{ 
    height: 100%;
    vertical-align: middle;
}
h1{
    font-family: Arial, sans-serif;
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
}
ul{
    list-style-type: none;
}

/* main */


.frame{
    background-color: #fff;
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.buttons-frame{
    border-bottom: 2px solid #F6F8F9;
    width: 100%;
}
.buttons{
    border: 1 solid #47ADF1;
    border-radius: 5px;
    padding: 5px;
}
#task-btn{
    background-color: #47ADF1;
    color: #fff;
}
#section-btn{
    color: #F6F8F9;
}

.task-sect{
    padding: 20px;
    line-height: 30x;
    height: 100%;
}

/* list */
li{
    padding: 5px;
}
.checked{
    border-radius: 50%;
    border: 1px solid green;
    color: green;
}
.crossed{
    border-radius: 50%;
    border: 1px solid red;
    color: red;
}
.label{
    font-size: 8px;
    color: #fff;
    border-radius: 30%;
    background-color: blue;
    padding: 2px;

}
